html, body, ul, ol, li, h1, h2, h3, p, div{
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}

li {
  list-style:none;
  text-decoration: none;
  float:left; 
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #35b9e6; 
}

/*header*/
a {
text-decoration: none;  
}
.fa {
  margin-right: 5px;
}  
.header-left {
      float: left;
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 40px;
      padding-right: 40px;
}

header {
  height: 65px;
  width: 100%;
  color: #fff;
  background-color: #35b9e6;
  position :fixed;
  top: 0;
  z-index: 10;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:  none;
}

.logo {
  width: 124px;
  margin-top: 0px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: 20px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* top Wrapper */
.top-wrapper{
  background-image: url('background.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

/* .text-wrapper h1::before{
  content: '';
  position: absolute;
  width:350px;
  height: 20%;
  align-items: center;
  padding-right: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
} */

.text-wrapper{
  text-align: center;
  color:#fffcfc;
  padding: 250px 0 100px 0;
}

.text-wrapper h1{
  font-size:48px;
  font-weight: 500;
  margin-bottom: 10px;
  padding:10px;
}

.text-wrapper p{
  font-size:20px;
  font-weight: 200;
  text-align: center;
}


/* Main Content */
.main-wrapper{
padding-top:200px;
padding-bottom:60px;
height: 100%;
width: 100%;
margin: 0 auto;
}

.img-content img{
object-fit: cover;
width: 100%;
border-radius: 15px;
}
.main-item{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap: 20px;
  padding:0 45px;
}


.main-content{
  text-align:left;
}

.main-content h2{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.main-content p{
  line-height: 1.6;
  font-weight: 200;
}


/* Profile Content */
.clear {
  clear: left;
}

.profile-wrapper{
 margin-bottom: 200px;
 margin-top:200px;
  height: 100%;

}

.profile-container{
  width: 100%;
  margin: 0 auto;
}

.item{
  float: left;
  width: 20%;
  padding:0 45px;
  cursor: pointer;
  overflow: hidden;
}

.item:hover{
  transform: scale(1.1);
  transition: 0.25s transform ease-in-out;
}

.img-wrapper {
  position: relative;
}

.img-wrapper img{
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  align-items: center;
}
.txt-content{
  display: inline-block;
  margin:20px 20px;
}
.txt-content span{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.heading-content{
  margin-bottom:100px;
  margin-top:20px;
  text-align: center;
}
.heading-content h2{
  font-size: 40px;
  font-weight: 500;
}

/* Contact Form */
.contact-group{ 
  margin-bottom:50px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

input,textarea{
  width:100%;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.contact-submit{
  background-color:#35b9e6;
  color:#0e0e0e;
}


.main-contact{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap: 50px;
  padding:0 45px;
  margin-bottom:200px;
}

.img-form img{
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}

.text-form h2{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

/* Footer */
.logo1{
	width:36px;
	float:right;
}


footer{
  padding-top:30px;
  padding-bottom:60px;
  background-color: #35b9e6;
  color :#fff; 
}
footer h3{
  padding-left:10px;
}

footer p{
  padding-left:10px;
}
.footer-list li{
	list-style:none;
	float:right;
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
}